/* TopNavigation.css */

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .mobile-menu-icon {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
  }
  
  .bar1.rotate-down {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .bar2.hide {
    opacity: 0;
  }
  
  .bar3.rotate-up {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }
  
  .mobile-menu a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .right-section.open {
      flex-direction: column;
    }
  
    .mobile-menu-icon {
      display: flex;
    }
  
    .mobile-menu {
      display: flex;
    }
  }
  